# {{ ansible_managed }}

### start generated network for [ {{ item.value.interface }} ] ###
auto {{ item.value.interface }}
{% if item.value.address is defined %}
iface {{ item.value.interface }} inet static
    address {{ item.value.address }}
    netmask {{ item.value.netmask }}
{%   if item.value.gateway is defined %}
    gateway {{ item.value.gateway }}
{%   endif %}
    mtu {{ item.value.mtu|default(lxc_container_default_mtu) }}
    # needed to enable gratuitous arps on interface events
    post-up sysctl -w net.ipv4.conf.$IFACE.arp_notify=1
    # needed to force an interface event (setting mac to what it already is)
    post-up ip link set $IFACE address $(cat /sys/class/net/$IFACE/address)
{%   if item.value.static_routes is defined %}
{%     for route in item.value.static_routes %}
    post-up ip route add {{ route['cidr'] }} via {{ route['gateway'] }} || true
{%     endfor %}
{%   endif %}
{% else %}
iface {{ item.value.interface }} inet manual
    mtu {{ item.value.mtu|default(lxc_container_default_mtu) }}
{% endif %}
### end generated network for [ {{ item.value.interface }} ] ###
