# {{ ansible_managed }}

### start generated network for [ {{ item.value.interface }} ] ###
auto {{ item.value.interface }}
{% if item.value.address is defined %}
iface {{ item.value.interface }} inet static
    address {{ item.value.address }}
    netmask {{ item.value.netmask }}
{%   if item.value.gateway is defined %}
    gateway {{ item.value.gateway }}
{%   endif %}
    mtu {{ item.value.mtu|default(lxc_container_default_mtu) }}
{%   if item.value.static_routes is defined %}
{%     for route in item.value.static_routes %}
    post-up ip route add {{ route['cidr'] }} via {{ route['gateway'] }} || true
{%     endfor %}
{%   endif %}
{% else %}
iface {{ item.value.interface }} inet manual
    mtu {{ item.value.mtu|default(lxc_container_default_mtu) }}
{% endif %}
{% for item in item.value.preup | default([]) | union(lxc_container_default_preup) %}
    pre-up {{ item }}
{% endfor %}
{% for item in item.value.postup | default([]) | union(lxc_container_default_postup) %}
    post-up {{ item }}
{% endfor %}
{% for item in item.value.predown | default([]) | union(lxc_container_default_predown) %}
    pre-down {{ item }}
{% endfor %}
{% for item in item.value.postdown | default([]) | union(lxc_container_default_postdown) %}
    post-down {{ item }}
{% endfor %}
### end generated network for [ {{ item.value.interface }} ] ###
