# {{ ansible_managed }}

### start generated network for [ {{ item.value.interface }} ] ###
STARTMODE=auto
BOOTPROTO=static
{% if item.value.address is defined %}
IPADDR={{ item.value.address }}
NETMASK={{ item.value.netmask }}
{% endif %}
MTU={{ item.value.mtu|default(lxc_container_default_mtu) }}
### end generated network for [ {{ item.value.interface }} ] ###
